body{
    height: 100%;
}



#login{
    background:url( aa.jpg);
    height: 20%;
    text-align: center;
    
    width: 50%;
    margin-left: 25%;
    margin-top:15%;
}
#login input{
    border-radius: 5px;
    height: 40px;
    width: 60%;
}
#register{
    
    background: url(ww.jpg);
    width: 60%;
    margin-top : 10%;
    text-align: center;
    height: 300px;
    margin-left: 20%;
    display: none;
    
}
#register input{
    
    border-radius: 5px;
    width: 50%;
    height: 30px;
    margin-top: 9px;
    
   
}
#theform{
    text-align: center;
    cursor: pointer;
}
